# .gitignore - файлы и папки, которые git игнорирует

# Ключи и секреты ( их лучше никогда не коммитить)

*.key               # Приватные ключи
*.pem               # Сертификаты и ключи pem
*.secret            # Файлы с секретами
*.env               # Переменные окружения, там могут быть токены и пароли 
*.env.local         # Локальные переменные окружения
credentials.json    # Файлы с учетными данными
secrets.yaml        # YAML секретки

# Временные файлы и логи
# Файлы которые создаются автоматически и не нужны в основной репе

*.log               # логи
*.tmp               # Временные файлы
*.swp               # Файлы от редактора Vim. В vim зайти конечно можно, но хуй пойми как выйти
*.swg               # Файлы от редактора vim
*~                  # Резервные копии

# Зависимости или папки с библиотеками

node_modules/       # Node.js зависимости
venv/               # Python виртуальные окружение
env/                # Python виртуальные окружение
__pycache__/        # Python кэш
*.pyc               # Python скомпилированные файлы
vendor/             # PHP/Go зависимости
.bundle/            # Ruby зависимости

# Файлы сборки

# Создаются при компиляции/сборке, можно пересобрать

dist/               # Собранный проект (JS, Python)
build/              # Собранный проект
*.o                 # Объектные файлы C++
*.exe               # Исполняемые файлы windows
*.class             # Java классы
